/***************************TAG SELECTORS********************/

h1{
    color: red;
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    text-align: center;
}

body{
    background-color: azure;
}

p{
    font-size: 50px;
    text-align: center;
    font-style: oblique;
    font-display: block;
}

img:hover{
    background-color: gold;   
}
img{
    margin-left: 200px;
    position: relative;
}

/****************************CLASS SELECTORS**********************/

.bacon{
    background-color: red;
}

.broccoli{
    background-color: green;
}

.circular{
    border-radius: 100%;
}

/*********************ID SELECTORS****************************************/

#heading{
    color: blue;
}